:root {
    --site-max-width: 1200px;
}

.md-header__inner,
.md-tabs__inner,
.md-grid {
    max-width: var(--site-max-width) !important;
    margin-right: auto !important;
    margin-left: auto !important;
    padding: 0 1rem !important;
}

.md-main__inner {
    margin-top: 2rem;
    display: flex !important;
    justify-content: center !important;
}

.md-content {
    width: 100%;
    max-width: var(--site-max-width);
}

.md-content__inner {
    margin: 0 !important;
    padding: 0 !important;
}

.md-sidebar--primary,
.md-sidebar--secondary {
    display: none !important;
}

@media screen and (min-width: 76.25em) {
    .md-header__button[for="__drawer"] {
        display: none !important;
    }
}

@media screen and (max-width: 1240px) {

    .md-header__inner,
    .md-tabs__inner,
    .md-grid {
        max-width: 100% !important;
        padding: 0 5% !important;
    }
}

@media screen and (max-width: 76.24em) {
    .md-header__button[for="__drawer"] {
        display: block !important;
    }

    .md-sidebar--primary {
        display: block !important;
        position: fixed;
    }

    .md-header__inner,
    .md-tabs__inner,
    .md-grid {
        padding: 0 1rem !important;
    }
}

.md-content h1 {
    display: none;
}