<!-- Unit Introduction -->
<div class="db-container glow-{{ unit.Rarity|lower }}">
  <div class="db-title"><span>{{unit.Name}}</span></div>
  <div class="db-content">
    <div class="unit-individual-container">
      <div class="unit-introduction-container">
        <div class="unit-introduction">
          <div class="unit-img-container-full">
            <img src="https://placehold.co/240x240" alt="Unit Image" />
          </div>
          <div class="unit-introduction-text">
            <div class="unit-name">{{unit.Name}}</div>
            <div class="unit-rarity">
              Rarity:
              <span> {{ unit.Rarity }}</span>
            </div>
            <div class="unit-placement">
              Placement Limit:
              <span> {{ unit.PlacementLimit }} </span>
            </div>
            {% if unit.OptimalTrait %}
            <div class="unit-optimal-trait">
              Optimal Trait: <span>{{unit.OptimalTrait}}</span>
            </div>
            {% endif %} {% if unit.Obtainment %}
            <div class="unit-obtainment">
              Unit Obtainment: <span>{{unit.Obtainment}}</span>
            </div>
            {% endif %}
          </div>
        </div>
        {% if unit.Description %}
        <div class="unit-description">Description: {{unit.Description}}</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!-- Unit Evolution Requirements -->
{% if unit.EvolutionRequirements %}
<div class="db-container glow-{{ unit.Rarity|lower }}">
  <div class="db-title">Unit Evolution</div>
  {% if unit.EvolutionRequirements.EvolvesFrom %}
  <div class="unit-evolution-next">
    <span>
      Unit Evolves from
      <a
        href="../{{ unit.EvolutionRequirements.EvolvesFrom|lower|replace(' ', '-')|replace('[', '')|replace(']', '') }}"
        >{{ unit.EvolutionRequirements.EvolvesFrom }}</a
      >
    </span>
    <hr />
  </div>
  {% endif %} {% if unit.EvolutionRequirements.EvolutionName %}
  <div class="unit-evolution-next">
    <span>
      Unit Evolves into
      <a
        href="../{{ unit.EvolutionRequirements.EvolutionName|lower|replace(' ', '-')|replace('[', '')|replace(']', '') }}"
      >
        {{ unit.EvolutionRequirements.EvolutionName }}
      </a>
    </span>
  </div>
  {% endif %} {% if unit.EvolutionRequirements.Requirements %}
  <div class="data-grid">
    {% for requirement in unit.EvolutionRequirements.Requirements %}
    <div class="data-item">
      <div class="data-card">
        <div class="data-img-container">
          <img
            src="{{ requirement.Image if requirement.Image else 'http://placehold.co/60x60' }}"
            alt="{{ requirement.Item }}"
            loading="lazy"
          />
        </div>
        <span class="data-name"
          >{{ requirement.Item }} - {{ requirement.Amount }}</span
        >
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endif %}
<!-- Unit Passives -->
{% if unit.Passives %}
<div class="db-container glow-{{ unit.Rarity|lower }}">
  <div class="db-title">Passives</div>
  <div class="unit-passives">
    {% for passive in unit.Passives %}
    <div class="unit-passive">
      <div class="unit-passive-title">{{passive.Title}}</div>
      <div class="unit-passive-description">{{passive.Description}}</div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
<!-- Unit Upgrades -->
{% if unit.Upgrades %}
<div class="db-container glow-{{ unit.Rarity|lower }}">
  <div class="db-title">Upgrades</div>

  <div class="unit-upgrades">
    <div class="upgrade-header">
      <span>Level</span>
      <span>Cost</span>
      <span>Damage</span>
      <span>Range</span>
      <span>SPA</span>
      <span>AOE</span>
      <span>Status</span>
    </div>

    {% for upgrade in unit.Upgrades %}
    <div class="unit-upgrade-row">
      <div class="unit-level">{{upgrade['Level']}}</div>
      <div class="unit-cost">
        ¥ {{ "{:,.0f}".format(upgrade['Cost'] | default(0) | int) }}
      </div>
      <div class="unit-damage">
        {{ "{:,.0f}".format(upgrade['Damage'] | default(0) | int) }}
      </div>
      <div class="unit-range">{{upgrade['Range']}}</div>
      <div class="unit-spa">{{upgrade['SPA']}}</div>
      <div class="unit-aoe">{{ upgrade['AOEType'] }}</div>
      <div class="unit-status">
        {% if upgrade['Status'] %} {% for status in upgrade['Status'] %}
        <span class="status-chip status-{{status|lower}}">{{status}}</span>
        {% endfor %} {% else %}
        <span class="text-slate-600">-</span>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
